<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tracker - {% block pagetitle %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tracker is meant to help people easily tell where the buses are currently positioned so that they plan adequately.">
    <meta name="author" content="Group BSE 14-12">

{# supposed to remove the gmaps inclusion below #}
{#    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg9J6qXhHCQRzkqnESvQtpGLH4Qgdzvaw&sensor=true"> </script>#}
	<script type="text/javascript" src="static/js/jquery.min.js"> </script>
	<script type="text/javascript" src="static/js/jquery.form.js"> </script>

    <link href="/static/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" id="camera-css"  href="/static/css/camera.css" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link href="/static/css/theme.css" rel="stylesheet">
    <link href="/static/css/jquery.tweet.css"  media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/css/skins/tango/skin.css" />
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/docs.css" rel="stylesheet">
    <link href="/static/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type='text/javascript'>
        jQuery(function($){
            $(".tweet").tweet({
              join_text: "auto",
              username: "mubirutim",
              avatar_size: 48,
              count: 3,
              auto_join_text_default: " we said, ",
              auto_join_text_ed: " we ",
              auto_join_text_ing: " we were ",
              auto_join_text_reply: " we replied ",
              auto_join_text_url: " we were checking out ",
              loading_text: "loading tweets..."
            });
          });
    </script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
      // I add a marker to the map using the given latitude
        // and longitude location.
        function addMarker( latitude, longitude, label ){
            // Create the marker - this will automatically place it
            // on the existing Google map (that we pass-in).
            var marker = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(
                    latitude,
                    longitude
                ),
                title: (label || "")
            });

            // Return the new marker reference.
            return( marker );
        }


        // I update the marker's position and label.
        function updateMarker( marker, latitude, longitude, label ){
            // Update the position.
            marker.setPosition(
                new google.maps.LatLng(
                    latitude,
                    longitude
                )
            );

            // Update the title if it was provided.
            if (label){

                marker.setTitle( label );

            }
        }


        // Check to see if this browser supports geolocation.
        if (navigator.geolocation) {

            // This is the location marker that we will be using
            // on the map. Let's store a reference to it here so
            // that it can be updated in several places.
            var locationMarker = null;
            var userLat = null;
            var userLong = null;


            // Get the location of the user's browser using the
            // native geolocation service. When we invoke this method
            // only the first callback is requied. The second
            // callback - the error handler - and the third
            // argument - our configuration options - are optional.
            navigator.geolocation.getCurrentPosition(
                function( position ){

                    // Check to see if there is already a location.
                    // There is a bug in FireFox where this gets
                    // invoked more than once with a cahced result.
                    if (locationMarker){
                        return;
                    }

                    // Log that this is the initial position.
                    console.log( "Initial Position Found with lat: "+ position.coords.latitude +" long : "+ position.coords.longitude );

                    // Add a marker to the map using the position.
                    locationMarker = addMarker(
                        position.coords.latitude,
                        position.coords.longitude,
                        "Initial Position"
                    );
                    userLat = position.coords.latitude;
                    userLong = position.coords.longitude;


                },
                function( error ){
                    console.log( "Something went wrong: ", error );
                },
                {
                    timeout: (5 * 1000),
                    maximumAge: (1000 * 60 * 15),
                    enableHighAccuracy: true
                }
            );


            // Now tha twe have asked for the position of the user,
            // let's watch the position to see if it updates. This
            // can happen if the user physically moves, of if more
            // accurate location information has been found (ex.
            // GPS vs. IP address).
            //
            // NOTE: This acts much like the native setInterval(),
            // invoking the given callback a number of times to
            // monitor the position. As such, it returns a "timer ID"
            // that can be used to later stop the monitoring.
            var positionTimer = navigator.geolocation.watchPosition(
                function( position ){

                    // Log that a newer, perhaps more accurate
                    // position has been found.
                    console.log( "Newer Position Found" );

                    // Set the new position of the existing marker.
                    updateMarker(
                        locationMarker,
                        position.coords.latitude,
                        position.coords.longitude,
                        "Updated / Accurate Position"
                    );
                    userLat = position.coords.latitude;
                    userLong = position.coords.longitude;

                }
            );


            // If the position hasn't updated within 5 minutes, stop
            // monitoring the position for changes.
            setTimeout(
                function(){
                    // Clear the position watcher.
                    navigator.geolocation.clearWatch( positionTimer );
                },
                (1000 * 60 * 5)
            );

        }

</script>


</head>
<body onload="GMloader();">

<!--header-->
    <div class="header">
         {% include "header.html" %}
    </div>
 <!--//header-->

 <!--page_container-->
    <div class="page_container">
        <!--slider-->
        {% block slider %}
        {% endblock %}
 <!--//slider-->

 <!-- Breadcrumb appears on all pages other than the Index-->
    {% block breadcrumb %}{% endblock %}

 <!-- Planning appears on only index page-->
    {% block planning %}{% endblock %}

 <!-- welcome message for users -->
    {% block welcome %}{% endblock %}

 <!--MAIN CONTENT AREA -->
    {% block main_content %}{% endblock %}
    </div>
 <!--//page_container-->

 <!--footer-->
    <div id="footer">
        {% include "footer.html" %}
    </div>
 <!--//footer-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="/static/js/camera.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/superfish.js"></script>
    <script type="text/javascript" src="/static/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/static/js/jquery.jcarousel.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tweet.js"></script>
    <script type="text/javascript" src="/static/js/myscript.js"></script>
    <script src="/static/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript">
		$(document).ready(function(){
			//Slider
			$('#camera_wrap_1').camera();

			//Featured works & latest posts
			$('#mycarousel, #mycarousel2, #newscarousel').jcarousel();

{#            $("#ajax-contact-form").submit(function() {#}
{#				var str = $(this).serialize();#}
{#				$.ajax({#}
{#					type: "POST",#}
{#					url: "contact_form/contact_process.php",#}
{#					data: str,#}
{#					success: function(msg) {#}
{#						// Message Sent - Show the 'Thank You' message and hide the form#}
{#						if(msg == 'OK') {#}
{#							result = '<div class="notification_ok">Your message has been sent. Thank you!</div>';#}
{#							$("#fields").hide();#}
{#						} else {#}
{#							result = msg;#}
{#						}#}
{#						$('#note').html(result);#}
{#					}#}
{#				});#}
{#				return false;#}
{#			});#}
		});


	</script>

</body>
</html>
