{% extends "base.html" %}
{% block pagetitle %}Benefits{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        	<div class="wrap">
            	<div class="container">
                    <a href="/">Home</a><span>/</span>Benefits
            </div>
            </div>
        </div>
{% endblock %}

{% block main_content %}
    <div class="wrap">
        	<div class="container">
                <section>
                    <div class="row">
                        <img src="static/img/how-it-helps.jpg" style="float: left;" class="img-responsive" alt="How it helps">
                        <h2 style="margin-top: 60px">Your Business Has a Next Level.<br/>
                        Tracker Can Help You Get There.</h2>
                    </div>
                </section>

                <section>
                    <div class="row">
                        <div class="span3" style="padding-left: 20px">
                <!--Sidebar content-->
                <ul class="unstyled">
                    <li><a href="" >+ How it helps</a></li>
                    <li style="margin-left: 20px;">Reduce fuel cost
                    <li style="margin-left: 20px;">Eliminate unauthorized use
                    <li style="margin-left: 20px;">Reduce labor costs
                    <li style="margin-left: 20px;">Reduce fleet operating expenses
                    <li style="margin-left: 20px;">Increase security and safety
                    <li style="margin-left: 20px;">Improve fleet productivity
                    <li style="margin-left: 20px;">Improve customer service
                    <li style="margin-left: 20px;">Go green
                </ul>

                <blockquote>
                    <p>Any Question?</p>
                </blockquote>
                <img src="static/img/help.jpg">
                <p>Check our <a href=""> FAQS</a> </p>

                <address>
                    <strong>Twitter, Inc.</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>

                <address>
                    <strong>Full Name</strong><br>
                    <a href="mailto:#">first.last@example.com</a>
                </address>

            </div>
            <div class="span8">

                <h2>Tracking Benefits</h2>
                <p>The GPS or Global Positioning System has become a very advanced technology. The main idea behind using this
                    system is to find the location of the person, vehicle or an item. Most people think about vehicle tracking
                    GPS system as something that helps find a stolen vehicle.</p>
                <p>However, its uses have expanded into many other fields where the data obtained through this device is combined
                    with other processes to efficiently manage a business or an organization. It not only protects the driver and
                    passengers but also allows the vehicle owners to keep track of their vehicle’s position. Some systems can
                    immediately alert the owner or monitoring department about any deviation from the fixed route.</p>
                <p>The next type of vehicle tracking GPS devices is capable of communicating the position data to a central server.
                    Generally, the tracking device is part of the integrated automobile electronic system. If the destination is
                    known then there is no way the driver will lose the route or arrive at a different location.</p>
                <p>The GPS technology relies on data received through satellites to calculate the exact position on earth. This
                    data can be viewed instantly by the driver. If the device has data sending capability then the data is sent to
                    the fleet management and monitoring center.</p>
                <p>Vehicle tracking GPS devices are being used in a wide range of industries. Companies use it to better organize
                    movement of vehicles and goods. It helps in efficient management of trucks, buses, cars, or any other type of
                    vehicles.</p>
                <p>It results in saving time and money because drivers do not waste time in finding destination. They stay on the
                    route and cannot bill incorrectly. Goods are delivered on time and various things like sales, delivery and
                    inventory can be coordinated more efficiently.</p>
                <p>There are various benefits of using vehicle tracking GPS system. These benefits include:</p>

                   <ul>
                       <li>Finding the position of a stolen vehicle
                       <li>Receiving alert message if the vehicle deviates from its route
                       <li>Keeping clients informed about the position of their goods
                       <li>Efficient inventory management
                       <li>Driver can easily find the nearest emergency center or service station
                       <li>Company knows exact position of goods, vehicles, drivers and passengers
                       <li>Receiving unit can prepare better for the arrival of goods or a VIP guest
                       <li>Efficient management of fuel and time
                   </ul>
                <p>Because of so many benefits, more and more businesses are using vehicle tracking GPS systems in their vehicles.
                    These tracking devices are easy to manage and can be integrated easily with existing software of the company.</p>
                <p>It is especially useful to transporters and large businesses that operate lots of vehicles. It is also a known
                fact that insurance companies offer lower premiums for auto insurance if the vehicle has tracking GPS system.</p>

            </div>
                    </div>
                </section>

            </div>
        </div>
{% endblock %}