{% extends "base.html" %}
{% block pagetitle %}Find a Bus{% endblock %}
{% csrf_token %}

{% block breadcrumb %}
    <div class="breadcrumb">
        	<div class="wrap">
            	<div class="container">
                    <a href="/">Home</a><span>/</span>Find Bus
            </div>
            </div>
        </div>
{% endblock %}

{% block main_content %}
    <div class="wrap">
        	<div class="container">
                <section>
                     <div class="row">
                        <div class="span9">
                            <h2 class="title"><span>Route Map</span></h2>
                            <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
                            <script type="text/javascript">
                                //initialize the 3 popup css class names - create more if needed
                                var matchClass=['popup1','popup2','popup3'];
                                //Set your 3 basic sizes and other options for the class names above - create more if needed
                                var popup1 = 'width=400,height=300,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=20,top=20';
                                var popup2 = 'width=800,height=600,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=100,top=20';
                                var popup3 = 'width=1000,height=750,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=20,top=20';

                                //The pop-up function
                                function tfpop(){
                                        var x = 0;
                                        var popClass;
                                        //Cycle through the class names
                                        while(x < matchClass.length){
                                                popClass = "'."+matchClass[x]+"'";
                                                //Attach the clicks to the popup classes
                                                $(eval(popClass)).click(function() {
                                                        //Get the destination URL and the class popup specs
                                                        var popurl = $(this).attr('href');
                                                        var popupSpecs = $(this).attr('class');
                                                        //Create a "unique" name for the window using a random number
                                                        var popupName = Math.floor(Math.random()*10000001);
                                                        //Opens the pop-up window according to the specified specs
                                                        newwindow=window.open(popurl,popupName,eval(popupSpecs));
                                                        return false;
                                                });
                                        x++;
                                        }
                                }

                                //Wait until the page loads to call the function
                                $(function() {
                                    tfpop();
                                });
                            </script>

                            {# maps javascript down below #}

                            <script type="text/javascript"
                              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvk8_p3RIwPi2QUgusiQuaw2nQ61OQvRM&sensor=true">
                            </script>


                              <script type="text/javascript">
                                var map;
                                var myLatlng;
                                var current_zoom = 13;


                              function GMloader(){

                              if (document.getElementById('map-canvas')){

                                // Coordinates to center the map
                                myLatlng = new google.maps.LatLng(0.332335, 32.579842);


                                // options for the map
                                var mapOptions = {
                                    zoom: current_zoom,
                                    center: myLatlng,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                };
                                // Draw the map
                                   map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);


                                console.log( "Accessing location from lat"+userLat+" long "+userLong);
                                  var userPoint = new google.maps.LatLng(userLat,userLong);
                                                    var userMarker = new google.maps.Marker({
                                                    position: userPoint,
                                                    icon: '/static/img/person.png',
                                                    map: map,
                                                    title: "Your Location"
                                                    });

                                }
                             }
                             </script>

                                <script type="text/javascript">
                                    $(document).ready(function(){
                                        $("#getRoute").change(function(){
                                            var Rid=$(this).val();

                                             $("#check").html('<img src="static/img/loader.gif" align="absmiddle">&nbsp;Loading bus data...');

                                              function getCookie(name) {
                                                var cookieValue = null;
                                                if (document.cookie && document.cookie != '') {
                                                    var cookies = document.cookie.split(';');
                                                    for (var i = 0; i < cookies.length; i++) {
                                                        var cookie = jQuery.trim(cookies[i]);
                                                        // Does this cookie string begin with the name we want?
                                                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                            break;
                                                        }
                                                    }
                                                }
                                                return cookieValue;
                                            }

                                            //Time between marker refreshes
                                            var INTERVAL = 60*1000;

                                             function getMarkers() {
                                              $.get('/getbuslocations/'+Rid, {}, function(res,resp) {
                                                  var j=0;
                                                        for(var i=0, len=res.length; i<len; i++) {
{#                                                            alert("moving "+i);#}

                                                        var marker = new google.maps.Marker({
                                                                position: new google.maps.LatLng(res[i].latitude,res[i].longitude),
                                                                icon: '/static/img/travel_bus.png',
                                                                map:map,
                                                                title:"Bus location"
                                                            });

                                                        var busId = (res[i].bus_id).substring(6).replace('/', '').replace('/', '').trim();
                                                        marker['infowindow']  = new google.maps.InfoWindow({
                                                        content: "<h3 id='bus_license'> Bus "+(j+1)+"</h3>"+
                                                              "<p><a href='/popup?busId="+busId+"&userlat="+userLat+"&userlong="+userLong+"&buslat="+res[i].latitude+"&buslong="+res[i].longitude+"&speed="+res[i].speed+"' class='popup2'>Estimate Time</a></p>"
                                                             ,
                                                        maxWidth:230
                                                        });

                                                        google.maps.event.addListener(marker, 'click', function() {
                                                        this['infowindow'].open(map, this);
                                                        });
                                                        google.maps.event.addListener(marker, 'mouseover', function() {
                                                        this['infowindow'].open(map, this);
                                                        });

                                                        }
                                                        window.setTimeout(getMarkers,INTERVAL);
                                                        $("#check").html(' ');
                                                    }, "json");
                                                }
                                            window.setTimeout(getMarkers(), INTERVAL);

                                            //Load route stops basing on a given route
                                               $.ajax
                                                ({
                                                type: "GET",
                                                url: "/getroutestops/"+Rid,
                                                data: {'format':'json',csrfmiddlewaretoken: getCookie('csrftoken')},
                                                contentType: 'application/json',
                                                cache: false,
                                                success: function(html)
                                                {
                                                    var arr = html;
                                                    var stops = '';
                                                    i;
                                                    for (i = 0; i < arr.length; ++i) {
                                                        console.log(arr[i].stop_name);
                                                        stops += arr[i].stop_name+"<br/>";
                                                        } //end forloop
                                                    $("#printHere").html(stops)

                                                },
                                                    error: function(xhr, textStatus, thrownError){
{#                                                        alert("xhr status: " + xhr.statusText);#}
                                                    }
                                                });
                                             return false;

                                        });
                                    });
                            </script>

                            <div id="map-canvas" style="width: 100%; height: 500px"> </div>

                        </div>

                        <div class="span2">
                            <h2 class="title"><span>Choose Route</span></h2>
                        	<p>

									<select id="getRoute" name="route">
											<option value="route"> Select Route </option>
											{% for route in routes %}
											<option id="route_id" value="{{route.id }}">{{ route.route_name }}</option>
											 {%  endfor %}
									</select>

							</p>

                        <span id='check'></span>


                        </div>
                        <div id="admDivCheck" class="span2" style="display:block;">
                               <h4>STOPS</h4>
                                <span id="printHere">route stops..</span>

                        </div>
                    </div>
                </section>
            </div>
        </div>
{% endblock %}

<script type="text/javascript">


</script>