{% extends "base.html" %}
{% block pagetitle %}Get Started{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        	<div class="wrap">
            	<div class="container">
                    <a href="index.html">Home</a><span>/</span>Getting Started
            </div>
            </div>
        </div>
{% endblock %}

{% block main_content %}
    <div class="wrap">
        	<div class="container">
                <section>
                    <div class="row">
                        <div class="span11">
                            <img src="static/img/get_started.png" class="img-responsive" alt="How it helps">
                        </div>

                    </div>
                </section>

            </div>
        </div>
{% endblock %}