<div class="wrap">
        	<div class="navbar navbar_ clearfix">
            	<div class="container">
                    <div class="row">
                        <div class="span3">
                        	<div class="logo"><a href="/"><img src="/static/img/logo.png" alt="" /></a></div>
                        </div>
                        <div class="span8">
                        	<div class="follow_us">
                                <ul>
                                    <li><a href="#" class="facebook">Facebook</a></li>
                                    <li><a href="#" class="twitter">Twitter</a></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <nav id="main_menu">
                                <div class="menu_wrap">
                                    <ul class="nav sf-menu">
                                      <li class="current"><a href="/">Home</a></li>
                                      <li class="sub-menu"><a href="javascript:{}">How it Works</a>
                                         <ul>
                                              <li><a href="/gps"><span>-</span>GPS Location</a></li>
                                              <li><a href="/benefits"><span>-</span>How it Helps</a></li>
                                              <li><a href="/routes"><span>-</span>Registered Routes</a></li>
                                             <!-- <li><a href="/stops"><span>-</span>Stops</a></li> -->
                                          </ul>
                                      </li>

                                      <li><a href="/find_bus">Find a Bus</a></li>
                                      <li><a href="/get_started">Getting Started</a></li>
                                      <li><a href="/demo">Live Demo</a></li>
                                      <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </div>
                             </nav>                            
                        </div>
                    </div>                
                </div>
             </div>
        </div> 
