{% extends "base.html" %}
{% block pagetitle %}Estimate Time{% endblock %}
{#{% block extra_js %}{% endblock %}#}

{% block main_content %}
    <div class="wrap">
        	<div class="container">
                <section>
                    <div class="row">
                        <div class="span8">
                            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
                            <script type="application/javascript">
                                function getURLParameter(name) {
                                      return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
                                    }

                                var busId = getURLParameter('busId').trim();
                                var userlat = getURLParameter('userlat').trim();
                                var userlong = getURLParameter('userlong').trim();
                                var buslat = getURLParameter('buslat').trim();
                                var buslong = getURLParameter('buslong').trim();
                                var speed = getURLParameter('speed').trim();
{#                                alert(userlat);#}
                                var address;
                                if(userlat == "null" || userlong == "null"){
                                  address = prompt("Please enter your current location", "current area,kampala");
                                    }


                                     function getCookie(name) {
                                                var cookieValue = null;
                                                if (document.cookie && document.cookie != '') {
                                                    var cookies = document.cookie.split(';');
                                                    for (var i = 0; i < cookies.length; i++) {
                                                        var cookie = jQuery.trim(cookies[i]);
                                                        // Does this cookie string begin with the name we want?
                                                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                            break;
                                                        }
                                                    }
                                                }
                                                return cookieValue;
                                            }



                                         $.ajax
                                        ({
                                        type: "GET",
                                        url: "/buses/"+busId,
                                        data: {'format':'json',csrfmiddlewaretoken: getCookie('csrftoken')},
                                        contentType: 'application/json',
                                        cache: false,
                                        success: function(html)
                                        {
                                            var licenseNumber;
                                            var busarr = html;
                                            console.log("bus data "+busarr.license_number);
                                            licenseNumber = busarr.license_number;
                                            $("#plate").html(busarr.license_number);
{#                                            alert(busarr.license_number);#}
                                             return busarr.license_number;
                                        },
                                            error: function(xhr, textStatus, thrownError){
                                                alert("xhr status: " + xhr.statusText);
                                            }
                                        });


                                var map;
                                var geocoder;
                                var bounds = new google.maps.LatLngBounds();
                                var markersArray = [];
                                var origin1;

                                  if(userlat == "null" || userlong == "null"){
                                    origin1 = address;
                                   }else{
                                    origin1 = new google.maps.LatLng(userlat, userlong);
                                  }

                                var destinationB = new google.maps.LatLng(buslat, buslong);
{#                                var origin1 = new google.maps.LatLng(0.331612, 32.573512);#}
{#                                var destinationB = new google.maps.LatLng(0.355471, 32.613321);#}

                                var destinationIcon = '/static/img/person.png';
                                var originIcon = '/static/img/travel_bus.png';

                                function initialize() {
                                  var opts = {
                                    center: new google.maps.LatLng(0.332335, 32.579842),
                                    zoom: 10
                                  };
                                  map = new google.maps.Map(document.getElementById('map-canvas'), opts);
                                  geocoder = new google.maps.Geocoder();
                                }

                                      //Get address of User's location
                                    function codeLatLng() {

                                      var lat = parseFloat(document.getElementById(userlat));
                                      var lng = parseFloat(document.getElementById(userlong));
                                      var latlng = new google.maps.LatLng(lat, lng);
                                      var url = 'http://maps.googleapis.com/maps/api/geocode/json?latlng='+userlat+','+userlong+'&sensor=true';
                                        alert(url);

                                     $.get(url, {}, function(res,resp) {
                                          var j=1;
                                                for(var i=0, len=res.length; i<len; i++) {
                                                    alert("moving "+res[i].formatted_address);
                                                }

                                            }, "json");
                                        }
                                    codeLatLng();


                                function calculateDistances() {
                                  var service = new google.maps.DistanceMatrixService();
                                  service.getDistanceMatrix(
                                    {
                                      origins: [origin1],
                                      destinations: [destinationB],
                                      travelMode: google.maps.TravelMode.DRIVING,
                                      unitSystem: google.maps.UnitSystem.METRIC,
                                      avoidHighways: false,
                                      avoidTolls: false
                                    }, callback);
                                }

                                function callback(response, status) {
                                  if (status != google.maps.DistanceMatrixStatus.OK) {
                                    alert('Error was: ' + status);
                                  } else {
                                    var origins = response.originAddresses;
                                    var destinations = response.destinationAddresses;
                                    var outputDiv = document.getElementById('outputDiv');
                                    outputDiv.innerHTML = '';
                                    deleteOverlays();

                                    for (var i = 0; i < origins.length; i++) {
                                      var results = response.rows[i].elements;
                                      addMarker(origins[i], false);
                                      for (var j = 0; j < results.length; j++) {

                                         var googleTime = results[j].duration.text.substring(0,2).trim();
                                         var distance = results[j].distance.text.substring(0,4).trim();

                                          var pttsTime = (distance/speed) * 60;
                                          var roundedOffTime = Math.round(pttsTime * 100) / 100;
                                          var ceilTime = Math.ceil(roundedOffTime);

                                        addMarker(destinations[j], true);
                                        outputDiv.innerHTML += origins[i] + ' to ' + destinations[j]
                                            + ': ' + results[j].distance.text + ' in '
                                            + ceilTime + ' mins <br>';

                                      }
                                    }
                                  }
                                }

                                function addMarker(location, isDestination) {
                                  var icon;
                                  if (isDestination) {
                                    icon = destinationIcon;
                                  } else {
                                    icon = originIcon;
                                  }
                                  geocoder.geocode({'address': location}, function(results, status) {
                                    if (status == google.maps.GeocoderStatus.OK) {
                                      bounds.extend(results[0].geometry.location);
                                      map.fitBounds(bounds);
                                      var marker = new google.maps.Marker({
                                        map: map,
                                        position: results[0].geometry.location,
                                        icon: icon
                                      });
                                      markersArray.push(marker);
                                    } else {
                                      alert('Geocode was not successful for the following reason: '
                                        + status);
                                    }
                                  });
                                }

                                function deleteOverlays() {
                                  for (var i = 0; i < markersArray.length; i++) {
                                    markersArray[i].setMap(null);
                                  }
                                  markersArray = [];
                                }

                                google.maps.event.addDomListener(window, 'load', initialize);

                                $(function() {
                                    calculateDistances();

                                });

                            </script>

                             <div id="map-canvas" style="width: 100%; height: 500px"> </div>

                        </div>

                        <div class="span3">
                            <h2 class="title"><span>Get Time</span></h2>
                            <pre>
                                <p>License Number : <span id="plate"></span> <br/>Travelling at <script>document.write(speed)</script> km/hr</p>

                            </pre>
                            <p><button type="button" onclick="calculateDistances();">Calculate Time</button><br/></p>
                            <div id="outputDiv"></div>
{#                            codeLatLng(0.34474,32.45526);#}

                        </div>

                    </div>


                </section>

            </div>
        </div>
{% endblock %}
