{% extends "base.html" %}
{% block pagetitle %}Thank you{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        	<div class="wrap">
            	<div class="container">
                    <a href="/">Home</a> / <a href="/contact"> Contact</a><span>/</span>Thank you
            </div>
            </div>
        </div>
{% endblock %}

{% block main_content %}
    <div class="wrap">
        	<div class="container">
                <section>
                    <div class="row">
                        <div class="span11">
                            <h2 class="title"><span>Thank u</span></h2>
                            <p>Thank you for contacting us</p>
                        </div>

                    </div>
                </section>

            </div>
        </div>
{% endblock %}